span.active{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(1, 182, 1);
    color:white;
}

.active>div{
    display:block;
}

.hide{
    display: none;
}

.error{
    font-size: 9px;
    font-style: italic;
    font-weight: bold;
    color: red;
}

.card{
    display: flex;
    align-items: center;
    background-color: rgb(250, 248, 248);
    box-shadow:2px 2px 12px rgba(47,47,47,0.40);
    justify-content: center;
    border-radius: 10px;
    border: solid rgba(29, 29, 29, 0.4);
    margin-bottom: 1rem; 
}

.position{
    width: 400px;
    height: 75px;
}

.datos{
    width: 400px;
    min-height: 350px;
    padding: 2 0rem;
}

.check-nav{
    width: 400px;
    height: 75px;
}

.number{
    background-color: rgb(39, 218, 250);
    border-radius: 50%;
    margin: 0 2rem;
    width: 2.5em;
    height: 2em;
    justify-content: center;
    padding-top: 0.5em;
}

.btn-ck{
    height:45px;
    width:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#353535;
    box-shadow: none;
    border: none;
    cursor: pointer;
    margin:1rem;
    font-weight: bold;
}

.back{
    background-color:#d6affa;
}

.next{
    background-color:#69ffc1;
}

.disabled{
    background-color:#969696;
}

.cards-container{
    display: inline-block;
    position: relative;
}

.form-container{
    display: grid;
    grid-template-columns: 80px 200px;
    text-align: right;
    padding: 1rem;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.form-container>div>input{
    width: 200px;
}