@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

/*Desktop*/
body{
  background-color: rgb(250, 226, 226);
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  font-size: calc(20px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#catnav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
}

ul#catnav li {
  display:inline;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  font-size:20px;
  
}

.logo{
  margin: 1rem;
  font-family: 'Lovers Quarrel', cursive;
  font-weight: normal;
  padding-left: 2rem;
}

.cart{
  display: inline;
  float: right;
  align-items: flex-end;
  padding-right: 2rem;
}

.navcont{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin-top: 0; 
  flex-direction:row;
  justify-content:space-between;
}

.span-cart{
  font-size: 15px;
  vertical-align: text-top;
  padding-left: 0.5rem;
}

.itemList{
  margin: 0 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 400px;
}

main{
  align-content: center;
  background-color: rgb(250, 226, 226);
  height: 100%;
  margin-bottom:1rem;
}

.text-link{
  text-decoration: none;
  color: inherit;
}
.catlist{
  text-decoration: none;
  color: inherit;
}

.footer{
  display:flex;
  flex-wrap: wrap;
  background-color: #282c34;
  padding: 2rem;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif cursive;
}

.footer-link{
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.contador-item{
	display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 1rem;
}
.contador-num{
  margin-left:10%;
  margin-right:10%;
  display:"inline" 
}

.shadow:hover{
  text-shadow: 1px 1px rgb(228, 76, 76), 2px 2px #0dc7c1, 3px 3px rgb(99, 204, 13), 4px 4px #63ce0c;
  transform: scale(1.3);
  transition: all 0.5s ease 0.1s
}