@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

/*Desktop*/
body{
  background-color: rgb(250, 226, 226);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  font-size: calc(20px + 2vmin);
}

.App-link {
  color: #61dafb;
}

#catnav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
}

ul#catnav li {
  display:inline;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  font-size:20px;
  
}

.logo{
  margin: 1rem;
  font-family: 'Lovers Quarrel', cursive;
  font-weight: normal;
  padding-left: 2rem;
}

.cart{
  display: inline;
  float: right;
  align-items: flex-end;
  padding-right: 2rem;
}

.navcont{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin-top: 0; 
  flex-direction:row;
  justify-content:space-between;
}

.span-cart{
  font-size: 15px;
  vertical-align: text-top;
  padding-left: 0.5rem;
}

.itemList{
  margin: 0 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

main{
  align-content: center;
  background-color: rgb(250, 226, 226);
  margin-bottom:1rem;
  min-height: 100vh;
}

.text-link{
  text-decoration: none;
  color: inherit;
}
.catlist{
  text-decoration: none;
  color: inherit;
}

.footer{
  display:flex;
  flex-wrap: wrap;
  background-color: #282c34;
  padding: 2rem;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif cursive;
}

.footer-link{
  margin: 1rem;
  color: white;
  text-decoration: none;
}

.contador-item{
	display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 1rem 0;
}
.contador-num{
  margin-left:10%;
  margin-right:10%;
  display:"inline" 
}

.shadow:hover{
  text-shadow: 1px 1px rgb(228, 76, 76), 2px 2px #0dc7c1, 3px 3px rgb(99, 204, 13), 4px 4px #63ce0c;
  transform: scale(1.3);
  transition: all 0.5s ease 0.1s
}

.category-span{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.detail-cont{
  margin-top:2rem;
  min-height: 400px;
}

.footer>a{
  text-decoration: none;
  cursor: pointer;
}

.mas-prod{
  margin-top: 2rem;
}
.mas-prod>a{
  text-decoration: none;
  cursor: pointer;
}

.detail-img-desc{
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  justify-content: center;
}

.detail-desc{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  width: 50%;
}

.fig-cap{
  color:white;
}

.fig-cap>span{
  font-weight: bold;
}

.under-img{
  background-color: brown;
  color: white;
}

.add-button:hover{
	transform:scale(1.1);
	background-color:#fe9048;
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
	transition:all ease 0.1s;
}

.add-button{
	bottom:0px;
	height:45px;
	background-color:#ff696e;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#FFFFFF;
	box-shadow: none;
  border: none;
  position: absolute;
  cursor: pointer;
}

.color-clicked{
  background-color:#584eb3;
}

.color-clicked:hover{
  background-color:#8e82f7;
  color:black;
}

.cart-widget{
  display: none;
  color:grey;
}

.button-container{
  position:relative;
  height: 90px;
}
.no-stock-title{
  color:rgb(233, 229, 229);
  font-size: small;
  display: inline;
  background-color: rgb(110, 50, 50);
}

.item-cart{
  border: #282c34 solid;
  margin: 2rem;
  padding: 1rem;
}

.img-container{
  border: #282c34 solid;
  border-radius: 2%;
}

@media screen and (max-width: 760px) {
  .shadow:hover{
    text-shadow: 1px 1px rgb(228, 76, 76), 2px 2px #0dc7c1, 3px 3px rgb(99, 204, 13), 4px 4px #63ce0c;
    transform: scale(1.3);
    transition: all 0.5s ease 0.1s;
  }
  .logo{
    font-size: 35px;
  }
}