@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

/*Desktop*/
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  font-size: calc(20px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#catnav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
}

ul#catnav li {
  display:inline;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
  font-size:15px;
}

.logo{
  margin: 1rem;
  font-family: 'Lovers Quarrel', cursive;
  font-weight: normal;
  padding-left: 2rem;
}

.cart{
  display: inline;
  float: right;
  align-items: flex-end;
  padding-right: 2rem;
}

.navcont{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin-top: 0; 
  flex-direction:row;
  justify-content:space-between;
}

.span-cart{
  font-size: 15px;
  vertical-align: text-top;
  padding-left: 0.5rem;
}

.itemList{
  margin: 0 20px;
}

main{
  align-content: center;
  background-color: brown;
  height: 100%;
}

.text-link{
  text-decoration: none;
  color: inherit;
}